.rounded__button {
  color: #fff;
  text-align: center;
  text-shadow: 0px 1px 2px #fff;
  font-family: 'ChakraPetch';
  font-size: 18.065px;
  font-style: normal;
  font-weight: 600;
  margin-top: 80px;
  line-height: 28.642px; /* 158.555% */
  letter-spacing: 0.903px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  height: 30px;
  width: 300px;
  margin-right: 0;
  cursor: pointer;
}
.welcome__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 289px;
  height: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
